.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    border-bottom: 5px solid $color-tertiary;

    &__heading {
        color: $color-secondary;
    }
}